$modal-color: rgb(107, 103, 103);
$title-color: #ededed;
$text-color: rgb(190, 182, 182);
$button-color: rgb(90, 83, 83);

.modal-wrapper {
    font-family: Avenir, Helvetica, Arial, sans-serif;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    display: flex;

    .modal-window {
        width: 520px;
        min-height: 240px;
        background: $modal-color;
        margin: auto;
        padding: 60px;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
        .title-area {
            .title {
                font-size: 36px;
                font-weight: 600;
                color: $title-color;
                &[center] {
                   text-align: center; 
                }
            }
            .empty-space {
                flex: 1;
            }
            .close-icon {
                color: $title-color;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .content-area {
            flex: 1;
            margin: 12px 0;
            max-height: 500px;
            overflow: auto;
            display: flex;
            align-items: center;
            .content {
                flex: 1;
                color: $text-color;
                font-weight: 400;
                font-size: 24px;
                &[center] {
                    text-align: center;
                }
            }
        }
        .button-area {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            &[center] {
                flex-direction: row;
                justify-content: center;
            }
            .button {
                text-align: center;
                font-weight: 600;
                font-size: 28px;
                padding: 12px 80px;
                margin-right: 12px;
                color: $text-color;
                box-sizing: content-box;
                background: $button-color;
                border: solid 3px $modal-color;
                &:hover {
                    cursor: pointer;
                    border: solid 3px $title-color;
                    color: $title-color;
                }
                &.positive {
                }
                &.negative {
                }
            }
        }
    }
}