.main-wrapper {
    .title {
        padding: 24px 0;
    }
    .test-area {
        display: flex;
        justify-content: space-between;
        .content-area {
            width: 48%;
            margin-top: 24px;
            background: #eee;
            border-radius: 4px;
            padding: 24px 36px 36px 36px;
            .option {
                margin: 24px 0;
            }
            .button {
                width: 100%;
            }
        }
    }
}