.main-wrapper {
    .test-area {
        display: flex;
        justify-content: space-between;
        .content-area {
            width: 48%;
            margin: 12px 0;
            background: #eee;
            border-radius: 4px;
            padding: 24px 36px 36px 36px;
            .option {
                margin: 24px 0;
            }
            .button {
                width: 100%;
            }
        }
    }
}